body{
  background-color:pink;
  color: rgb (3, 150, 100);
  color: rgba(3, 101, 100, 0.75);
  font-family: 'Old Style', Grotesque; 
}


#navigation{
  text-align:center;
  font-size:100%;
}

img{
  height:200px;
}