#test{
  color:purple;  
}

body{
 background-color:white;
}

#container{
    padding:25px;
    margin:25px;
    border-radius:25px;
    background-color:pink;
    color:#BF5FFF;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  

}


#navigation{
  text-align:center;
  font-size:100%;
}

img{
  height:200px;
}